@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  padding: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mr-8 {
  margin-right: 8px;
}

@media (max-width: 576px) {
  .mr-xs-2 {
    margin-right: 2px;
  }
}

.mb-8 {
  margin-bottom: 8px;
}

@media (max-width: 576px) {
  .mb-xs-2 {
    margin-bottom: 2px;
  }
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.flex-4 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.dp-none {
  display: none;
}

@media (max-width: 768px) {
  .dp-md-none {
    display: none;
  }
}

@media (max-width: 576px) {
  .dp-xs-none {
    display: none;
  }
}

@media (max-width: 768px) {
  .dp-md-block {
    display: block;
  }
}

@media (max-width: 576px) {
  .dp-xs-block {
    display: block;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 672px;
    /*max-width: 550px;*/
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 350px;
  }
}

/*
header */
header {
  background-color: #AA0601;
  color: #ffffff;
  z-index: 3;
}

/*
nav */
.navBar {
  /* 網站會有多個 nav 標籤,勿寫在html標籤上 */
  height: 108px;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .navBar {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 576px) {
  .navBar {
    height: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
}

.navBar h1 a {
  display: block;
  width: 88px;
  height: 49px;
  background: url(../images/logo.png) no-repeat;
}

@media (max-width: 768px) {
  .navBar h1 a {
    width: 80px;
  }
}

@media (max-width: 576px) {
  .navBar h1 a {
    width: 48px;
    height: 29px;
    background-size: contain;
  }
}

.navBar .dropdown {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 999;
  /*最上層*/
}

@media (max-width: 576px) {
  .navBar .dropdown {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 50px;
    max-height: 0;
    -webkit-transition: all .8s;
    transition: all .8s;
    overflow: hidden;
    width: 100%;
  }
  .navBar .dropdown.active {
    max-height: 400px;
  }
}

.navBar .dropdown li {
  font-size: 20px;
  margin-left: 64px;
}

@media (max-width: 768px) {
  .navBar .dropdown li {
    margin-left: 28px;
  }
}

@media (max-width: 576px) {
  .navBar .dropdown li {
    margin-left: auto;
    width: 100%;
    text-align: center;
  }
}

.navBar .dropdown li a {
  padding-bottom: 5px;
}

@media (max-width: 576px) {
  .navBar .dropdown li a {
    display: block;
    background: #AA0601;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 16px 0;
    text-decoration: none;
  }
}

.navBar .dropdown li a:hover {
  /*padding-bottom: 5px;*/
  border-bottom: 1px solid #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 576px) {
  .navBar .dropdown li a:hover {
    background: #650300;
    border-bottom: 0;
    -webkit-transition: none;
    transition: none;
  }
}

.ham-icon {
  position: absolute;
  left: 30px;
  /*&.active{ 
        .line{
            position: absolute;
            top:5px;
        }
        .line:nth-child(1){
            transform: rotate(45deg);
        }
        .line:nth-child(2){
            display: none;
        }
        .line:nth-child(3){
            transform: rotate(-45deg);
        }
    }*/
}

/*
footer  */
footer {
  color: #ffffff;
  background-color: #AA0601;
  padding-top: 48px;
  padding-bottom: 40px;
}

@media (max-width: 576px) {
  footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.footerLinks {
  margin-bottom: 32px;
  line-height: 48px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .footerLinks {
    line-height: 25px;
  }
}

.footerLinks li {
  margin-right: 3rem;
}

@media (max-width: 768px) {
  .footerLinks li {
    margin-right: 2.5rem;
  }
}

@media (max-width: 576px) {
  .footerLinks li {
    margin-right: 0;
  }
}

.footerLinks li:last-of-type {
  margin-right: 0;
}

@media (max-width: 576px) {
  .footerSns {
    margin-left: auto;
  }
}

.footerSns li {
  width: 48px;
  margin-left: 32px;
}

@media (max-width: 768px) {
  .footerSns li {
    width: 24px;
    margin-left: 24px;
  }
}

.footerSns li:first-of-type {
  margin-left: 0;
}

@media (max-width: 576px) {
  .footerContent {
    /*transform: translateY(-53px);*/
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

.footerContent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin-bottom: 22px;
}

@media (max-width: 576px) {
  .footerContent li {
    font-size: 1rem;
    margin-bottom: 8px;
  }
}

.footerContent img {
  width: 48px;
  margin-right: 12px;
}

@media (max-width: 768px) {
  .footerContent img {
    width: 23px;
    margin-right: 12px;
  }
}

@media (max-width: 576px) {
  .footerContent img {
    width: 13px;
  }
}

.footerLast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #fff;
  padding-top: 24px;
  margin-bottom: 27px;
}

@media (max-width: 576px) {
  .footerLast {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding-top: 1rem;
  }
}

.footerLast h5 {
  margin-left: 62px;
}

@media (max-width: 768px) {
  .footerLast h5 {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .footerLast h5 {
    margin-left: 0;
  }
}

.footerLast img {
  width: 80px;
  margin-right: 38px;
}

@media (max-width: 768px) {
  .footerLast img {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .footerLast img {
    position: absolute;
    width: 46px;
    right: 0;
    bottom: 0;
  }
}

.footerLast .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

@media (max-width: 576px) {
  .footerLast .copyright {
    font-size: 14px;
  }
}

/* AOS */
[data-aos="text-translateX-left"] {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

[data-aos="text-translateX-left"].aos-animation {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

/*視差-圖靠下*/
[data-aos="bgImg-position-down"].aos-animate {
  background-position: bottom center;
}

/*  
topImg */
.topImg {
  height: 840px;
  background: url(../images/banner.png) no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
}

@media (max-width: 768px) {
  .topImg {
    padding: 0 48px;
  }
}

@media (max-width: 576px) {
  .topImg {
    height: 395px;
    padding: 0 12px;
  }
}

.topImg .title {
  color: #650300;
  text-align: right;
}

.topImg h2 {
  font-size: 4rem;
  line-height: 6rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .topImg h2 {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}

@media (max-width: 576px) {
  .topImg h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.topImg h3 {
  font-size: 2.25rem;
  line-height: 54px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .topImg h3 {
    font-size: 1.25rem;
    line-height: 30px;
  }
}

@media (max-width: 576px) {
  .topImg h3 {
    font-size: 1rem;
  }
}

/*
info    */
.info {
  background-color: #AA06010D;
  padding-top: 64px;
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .info {
    padding-top: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .info {
    padding-top: 32px;
    margin-bottom: 32px;
  }
}

.info h3 {
  color: #650300;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .info h3 {
    font-size: 2rem;
    margin-bottom: 32px;
  }
}

@media (max-width: 576px) {
  .info h3 {
    font-size: 1.5rem;
  }
}

.info .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 576px) {
  .info .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.info .item li {
  width: 210px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .info .item li {
    width: 48%;
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .info .item li {
    width: 100%;
    margin-bottom: 28px;
  }
}

.info .item li img {
  width: 100px;
  height: 100px;
  /*margin: 0 25% 40px;*/
  margin-bottom: 2.5rem;
}

.info .item li h4 {
  color: #650300;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 36px;
}

@media (max-width: 768px) {
  .info .item li h4 {
    font-size: 1.25rem;
    line-height: 30px;
  }
}

/*
product 經典系列鏡框*/
.product {
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .product {
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .product {
    margin-bottom: 24px;
  }
}

.product h2 {
  color: #650300;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 60px;
  text-align: center;
}

@media (max-width: 768px) {
  .product h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  .product h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.product .productItem {
  max-width: 100%;
}

.product .productItem li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .product .productItem li {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 576px) {
  .product .productItem li {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product .productItem li:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .product .productItem li img {
    max-width: 48%;
  }
}

@media (max-width: 576px) {
  .product .productItem li img {
    max-width: 100%;
  }
}

.product .productItem li h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AA0601;
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  margin-left: 1.5rem;
}

@media (max-width: 768px) {
  .product .productItem li h3 {
    font-size: 1.75rem;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .product .productItem li h3 {
    position: absolute;
    color: #FFFFFF;
  }
}

.product .productItem li h3 img {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .product .productItem li h3 img {
    width: 32px;
  }
}

@media (max-width: 768px) {
  .product .productItem li:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 576px) {
  .product .productItem li:nth-child(2) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product .productItem li:nth-child(2) h3 {
  margin-right: 1.5rem;
}

@media (max-width: 768px) {
  .product .productItem li:nth-child(2) h3 {
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .product .productItem li:nth-child(2) h3 {
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .product .productItem li:nth-child(2) h3 img {
    width: 32px;
  }
}

.product .productItem li:nth-child(2) img {
  width: 100%;
}

.product .productItem li .colorItem {
  position: relative;
}

@media (max-width: 768px) {
  .product .productItem li .colorItem {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .product .productItem li .colorItem {
    width: 100%;
  }
}

.product .productItem li .colorItem::before {
  content: '';
  position: absolute;
  background: url(../images/product-2-color.png) no-repeat;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-size: cover;
  /*contain 使背景圖在尺寸大於內容元素的情況下，得以完整呈現。*/
  background-position: center center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product .productItem li .colorItem:hover::before {
  opacity: 1;
}

/*
co-Brand 聯名設計鏡框 */
.coBrand {
  background: url(../images/bg.png) no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 64px;
  padding-bottom: 400px;
}

@media (max-width: 768px) {
  .coBrand {
    padding-top: 40px;
  }
}

@media (max-width: 576px) {
  .coBrand {
    padding-top: 24px;
  }
}

.coBrand h2 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3.75rem;
}

@media (max-width: 768px) {
  .coBrand h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  .coBrand h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.coBrand li:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1280px) {
  .coBrand li:first-child {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .coBrand li:first-child {
    max-width: 672px;
    /*margin: 0 auto;*/
  }
}

.coBrandList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coBrandList li:first-child {
  margin-bottom: 3.75rem;
}

@media (max-width: 576px) {
  .itemB {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.itemBrand {
  position: relative;
}

@media (max-width: 576px) {
  .itemBrand {
    margin-bottom: 20px;
  }
}

.itemBrand::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}

.itemBrand span {
  color: #AA0601;
  font-size: 4.5rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* transform 垂直置中 */
  z-index: 1;
  white-space: nowrap;
  /* 不換行 */
}

@media (max-width: 768px) {
  .itemBrand span {
    font-weight: 700;
    font-size: 2rem;
  }
}

.itemBrand:first-of-type {
  margin-right: 1.25rem;
}

@media (max-width: 576px) {
  .itemBrand:first-of-type {
    margin-right: 0;
  }
}

/*  more魔王 */
.moreItem {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 576px) {
  .moreItem {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.moreItem span {
  position: absolute;
  color: #AA0601;
  font-size: 4.5rem;
  font-weight: 700;
  -webkit-transform: translate(0%, 20%);
          transform: translate(0%, 20%);
  white-space: nowrap;
  z-index: 1;
}

@media (max-width: 768px) {
  .moreItem span {
    font-size: 2.5rem;
    -webkit-transform: translate(0%, -10%);
            transform: translate(0%, -10%);
  }
}

@media (max-width: 576px) {
  .moreItem span {
    font-size: 26px;
    -webkit-transform: translate(0%, -12%);
            transform: translate(0%, -12%);
  }
}

.moreItem span img {
  -webkit-transform: translateY(2%);
          transform: translateY(2%);
}

.moreItem span::before {
  content: 'MORE';
  position: absolute;
  -webkit-transition: all .6s .3s;
  transition: all .6s .3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.moreItem span::after {
  content: 'MORE';
  position: absolute;
  -webkit-transition: all .6s .3s;
  transition: all .6s .3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.moreItem span:hover::before {
  -webkit-transform: translateY(-85px);
          transform: translateY(-85px);
  opacity: .7;
}

.moreItem span:hover::after {
  -webkit-transform: translateY(-145px);
          transform: translateY(-145px);
  opacity: .3;
}

.moreImg {
  position: relative;
  height: 100%;
  max-width: 30%;
  -webkit-transition: all .6s .3s;
  transition: all .6s .3s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  margin-right: 85px;
}

@media (max-width: 1280px) {
  .moreImg {
    margin-right: 20%;
  }
}

@media (max-width: 768px) {
  .moreImg {
    margin-right: 30%;
  }
}

.moreImg::after {
  content: '';
  position: absolute;
  background: #ffffff;
  top: 15%;
  bottom: 15%;
  left: 10%;
  right: -85px;
}

.moreImg:hover img:last-child {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  -webkit-transition: all .8s;
  transition: all .8s;
  /* 待修正, arrow動畫怪怪的 */
}

.moreImg span {
  padding: 5px 0 5px 32px;
}

@media (max-width: 768px) {
  .moreImg span img {
    max-width: 30%;
  }
}

/*
commend 顧客推薦 */
.commend {
  margin-top: -300px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .commend {
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .commend {
    margin-bottom: 24px;
  }
}

.commend h2 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .commend h2 {
    font-size: 2rem;
    margin-bottom: 32px;
  }
}

@media (max-width: 576px) {
  .commend h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.commend ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.commend li {
  background-color: #fff;
  width: 23.5%;
}

@media (max-width: 768px) {
  .commend li {
    width: 48%;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 576px) {
  .commend li {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

.commend li .commendTxt {
  padding: 16px;
  border: 1px solid #DEE2E6;
}

.commend li .commendTxt h4 {
  font-weight: 600;
  margin-bottom: 16px;
}

.commend li .commendTxt p {
  margin-bottom: 16px;
}

.commend li .commendTxt .time {
  color: #707070;
}

/*
contactUs  聯絡我們 */
.contactUs {
  background-color: #AA06010D;
  padding-top: 64px;
  padding-bottom: 92px;
}

@media (max-width: 768px) {
  .contactUs {
    padding-top: 40px;
    padding-bottom: 56px;
  }
}

@media (max-width: 576px) {
  .contactUs {
    padding-top: 24px;
    padding-bottom: 48px;
  }
}

.contactUs .container {
  max-width: 800px;
}

@media (max-width: 768px) {
  .contactUs .container {
    max-width: 500px;
  }
}

@media (max-width: 576px) {
  .contactUs .container {
    max-width: 330px;
  }
}

.contactUs .container h3 {
  color: #000;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .contactUs .container h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .contactUs .container h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
}

.contactUs .container p {
  font-size: 1.25rem;
  line-height: 30px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .contactUs .container p {
    font-size: 1rem;
    line-height: 24px;
  }
}

.form-group {
  /*display: flex;
    flex-direction: column;*/
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  border: 1px solid #000;
  padding: 14px 16px;
  margin-bottom: 16px;
  background: transparent;
  /*透明色*/
  outline: 0;
  /* 會影響到無障礙tab作用嗎? */
}

@media (max-width: 768px) {
  .form-group input,
  .form-group textarea {
    padding: 14px 16px;
    margin-bottom: 12px;
  }
}

@media (max-width: 576px) {
  .form-group input,
  .form-group textarea {
    padding: 7px 12px;
  }
}

.form-group textarea {
  height: 8.5rem;
  resize: none;
}

.form-group input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.form-group input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.form-group input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.form-group input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.form-group textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.form-group textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.form-group textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.form-group textarea::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.form-group .agree {
  margin-bottom: 16px;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 180px;
  font-family: "Roboto", "Microsoft JhengHei";
  border: none;
  font-size: 16px;
  color: #ffffff;
  background-color: #AA0601;
  padding: 16px 58px;
}

.btn:hover {
  cursor: pointer;
  background-color: #650300;
}

/*
Faq 常見問題 */
.topImgFaq {
  height: 304px;
  background: url(../images/qa.png) no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 5.5rem;
}

@media (max-width: 768px) {
  .topImgFaq {
    background: url(../images/qa_72.png) no-repeat;
    background-size: cover;
  }
}

@media (max-width: 576px) {
  .topImgFaq {
    height: 143px;
    background-size: cover;
    margin-bottom: 1.5rem;
  }
}

.topImgFaq .topImgFaq-wrap {
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.topImgFaq .topImgFaq-wrap .title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topImgFaq .topImgFaq-wrap .title h2 {
  font-size: 4rem;
  font-weight: 700;
}

@media (max-width: 576px) {
  .topImgFaq .topImgFaq-wrap .title h2 {
    font-size: 1.75rem;
  }
}

@media (max-width: 576px) {
  .topImgFaq .topImgFaq-wrap .title img {
    width: 24px;
  }
}

.faqMain {
  margin-bottom: 9.75rem;
}

@media (max-width: 768px) {
  .faqMain {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 576px) {
  .faqMain {
    margin-bottom: 3.5rem;
  }
}

.faqMain h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .faqMain h3 {
    font-size: 1.25rem;
  }
}

/* 收合 */
.card-item {
  border: 1px solid #000000;
  border-bottom: 0;
}

.card-item:last-of-type {
  border-bottom: 1px solid #000000;
}

.card-item:not(.active) .up {
  display: none;
}

.card-item.active .card-item-header {
  background-color: #AA0601;
  border-bottom: 1px solid #000;
}

.card-item.active a {
  color: #FFFFFF;
}

.card-item-header {
  /*padding: 16px;*/
  border-bottom: 1px solid #000000;
  border-bottom: 0;
}

.card-item-header:hover {
  background-color: #AA0601;
}

.card-item-header a {
  padding: 16px;
  text-decoration: none;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-item-header a:hover {
  color: #FFFFFF;
}

.card-item-header h4 {
  font-size: 1rem;
  line-height: 24px;
  font-weight: bold;
}

.card-item-body {
  background-color: #F2F2F2;
  padding: 16px;
  font-size: 14px;
  line-height: 21px;
}

.card-item.active .down {
  display: none;
}
/*# sourceMappingURL=all.css.map */