$color:#650300;
$bgcolor:#AA0601;

/**/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.container {
    width: 1200px;
}

header {
    background-color: $bgcolor;
    color: #ffffff;
}

nav {
    height: 108px;
    padding-left: 88px;
    padding-right: 88px;
    h1 {
        width: 88px;
        height: 49px;
        background: url(../images/logo.png) no-repeat;
    }
    ul {
        display: flex;
        justify-content: flex-end;
        li {
            font-size: 20px;
            margin-left: 64px;
        }
    }
}

.footer {
    height: 338px;
    color: #ffffff;
    background-color: $bgcolor;
    padding-top: 48px;
    padding-left: 88px;
    padding-right: 88px;
    .footerList li {
        margin-right: 48px;
    }
    .footerSns li {
        margin-left: 32px;
    }
}

.copyright {
    border-top: 1px solid #ffffff;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    transition: all 0.5s;
    &:hover {
        width: 200px;
        background-color: $color;
    }
}

@media (max-width:768px) {
    .container {
        width: 672px;
    }
}

@media (max-width:375px) {
    .container {
        width: 350px;
    }
    .footerList {
        display: none;
    }
}